# Exercises

### 1. Identify the data type of the following values:

In [34]:
type(99.9) #float

float

In [3]:
type("False") #str

str

In [4]:
type(False) #bool

bool

In [5]:
type('0') #str

str

In [6]:
type(0) #int

int

In [7]:
type(True) #bool

bool

In [8]:
type('True') #str

str

In [9]:
type([{}]) #list

list

In [35]:
type({'a': []}) #dict

dict

### 2. What data type would best represent the following?

* A term or phrase typed into a search box? 
        # str
* Whether or not a user is logged in. 
        # bool
* A discount amount to apply to a user's shopping cart
        # float
* Whether or not a coupon code is valid
        # bool
* An email address typed into a registration form
        # str
* The price of a product
        # float
* The email addresses collected from a registration form
        # list of str
* Information about applicants to Codeup's data science program
        # dict

### 3. For each of the following code blocks:

Read the expression and predict the evaluated results

Execute the expression in a Python REPL.

In [82]:
'1' + 2 # error - can only concat str to str

TypeError: can only concatenate str (not "int") to str

In [84]:
6 % 4 # 2 since that is the remainder

2

In [85]:
type(6 % 4) # int

int

In [86]:
type(type(6 % 4)) # type

type

In [87]:
'3 + 4 is ' + 3 + 4 # error - can only concat str to str

TypeError: can only concatenate str (not "int") to str

In [88]:
0 < 0 # false because 0 = false and 1 = true

False

In [89]:
'False' == False # false

False

In [90]:
True == 'True' # false

False

In [91]:
5 >= -5 # true

True

In [92]:
True or "42" # true

True

In [93]:
6 % 5 # 1

1

In [94]:
5 < 4 and 1 == 1 # false

False

In [95]:
'codeup' == 'codeup' and 'codeup' == 'Codeup' # false

False

In [96]:
4 >= 0 and 1 !== '1' # error - invalid syntax, too many = at the end of !==

SyntaxError: invalid syntax (383778220.py, line 1)

In [97]:
6 % 3 == 0 # true because there is no remainder since 3 goes perfectly into 6

True

In [98]:
5 % 2 != 0 # true since there is a remainder of 1

True

In [99]:
[1] + 2 # error - can only concat list to list

TypeError: can only concatenate list (not "int") to list

In [100]:
[1] + [2] # [1, 2]

[1, 2]

In [101]:
[1] * 2 # [1, 1]

[1, 1]

In [102]:
[1] * [2] # error - can't * by non-int of type 'list'

TypeError: can't multiply sequence by non-int of type 'list'

In [103]:
[] + [] == [] # true

True

In [104]:
{} + {} # error

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

### 4. Create a Python script file named data_types_and_variables.py. Inside the script, write Python code to describe the following scenarios. You will need to create and assign variables and use operators.

### 5. You have rented some movies for your kids:

The Little Mermaid for 3 days 

Brother Bear for 5 days 

Hercules for 1 day 

If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [12]:
daily_fee = 3

In [13]:
daily_fee

3

In [111]:
the_little_mermaid = 3

In [112]:
brother_bear = 5

In [113]:
hercules = 1

In [114]:
(the_little_mermaid * daily_fee) + (brother_bear * daily_fee) + (hercules * daily_fee)

27

In [116]:
total_rate = (the_little_mermaid + brother_bear + hercules) * daily_fee

In [117]:
total_rate

27

### 6. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

Google: 400 dollars

Amazon: 380 dollars

Facebook: 350 dollars

This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

How much will you receive in payment for this week?

In [28]:
google_hr = 400

In [30]:
amazon_hr = 380

In [31]:
facebook_hr = 350

In [32]:
(google_hr * 6) + (amazon_hr * 4) + (facebook_hr * 10)

7420

In [119]:
google_rate = 400
amazon_rate = 380
facebook_rate = 350

g_hrs = 6
a_hrs = 4
f_hrs = 10

(google_rate * g_hrs) + (amazon_rate * a_hrs) + (facebook_rate * f_hrs)

7420

### 7. A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [41]:
class_is_not_full = True
class_does_not_conflict = True

can_be_enrolled = class_is_not_full and class_does_not_conflict
print (can_be_enrolled)

True

### 8. A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [121]:
premium_member = True
buys_more_than_2_items = True
offer_has_not_expired = True

product_offer_can_be_applied = offer_has_not_expired and (buys_more_than_2_items or premium_member)
print(product_offer_can_be_applied)

True

### 9. Continue working in the data_types_and_variables.py file. Use the following code to follow the instructions below: Create a variable that holds a boolean value for each of the following conditions:

In [45]:
username = 'codeup'
password = 'notastrongpassword'

The password must be at least 5 characters

In [122]:
check_1 = len(password) >= 5

In [125]:
check_1

True

The username must be no more than 20 characters

In [124]:
check_2 = len(username) <= 20

In [126]:
check_2

True

The password must not be the same as the username

In [123]:
check_3 = password != username

In [127]:
check_3

True

#### did not attempt check_4 below

In [128]:
check_4 = username.strip() == username and password.strip() == password

In [129]:
check_4

True